/* semantic color variables for this project */
:root {
  --main-color-darkgreen: hsla(230, 49%, 41%, 1);
  --main-accent-color-light: hsla(227, 42%, 51%, 1);
  --main-bg-color-one: hsla(210, 16%, 82%, 1);
  --main-green-one: hsla(232, 51%, 36%, 1);
  --secondary-text-color-light: hsla(210, 24%, 16%, 1);
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--main-bg-color-one);
    color: #FFFFFF;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--secondary-text-color-light);
  background: var(--main-bg-color-one);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--main-color-darkgreen);
  border-radius: 8px;
}
*::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 5px; /* Mostly for horizontal scrollbars */
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--main-accent-color-light);
  border-radius: 8px;
}
*::-webkit-scrollbar-track { /* Background */
  border-radius: 16px;

}