@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-weight: normal;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.4s;
}

span {
  color: var(--main-accent-color-light)
}

button:hover {
  cursor: pointer;
  background-color: var(--main-green-one);
  transition: background-color 0.25s ease;
  color: #FFFFFF;
}


