@import './base.css';

#app {
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-weight: normal;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.4s;
}

span {
  color: var(--main-accent-color-light)
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: var(--main-bg-color-one);
  color: var(--main-accent-color-light);
  padding: 0.75rem;
  border-radius: 16px;
  outline: none;
  border: 1px solid var(--main-accent-color-light);
}

button.cta {
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-green-one);
  transition: background-color 0.25s ease;
  color: #FFFFFF;
}


